
.DS_Store
/multiplechoice_processed_data/
/images/
/.ipynb_checkpoints/
/MultipleChoiceTest2/
/Teller/

.idea/

preprocessing/__pycache__/

__pycache__/

wandb/
/multiplechoice_processed_data/

src/data/.ipynb_checkpoints/
/src/config/wandb_logs/
/np_data/

dev_utils/
/src/preprocessing/data/.ipynb_checkpoints/
/MultipleChoiceTest4/
